{% extends "blog/header.html" %}
{% block content %}

<section class="about">

  <div class="container">
    <div class="row">
      <div class="twelve columns">
        <h3> {{post.title}} </h3>
      </div>
    </div><!--end of .row-->
      <div class = "row bottom">
        <div class="two-thirds column">
          {{ post.body }}
        </div>
        <div class="one-third column">
          {% for post in object_list %}
			      <a class="button button-primary" href="{{post.id}}">Y no Work?</a>
	        {% endfor %}
            <a class="button button-primary" href="https://final-blog-project-sailanarmo.c9users.io">Return Home</a>
        </div>
      </div>
      </div>
    </div><!--end of .row-->
  </div><!--end of .container-->
</section>
{% endblock %}